In [7]:
import numpy as np

arr1 = np.array([1,2,3,5])
print(arr1)
print(type(arr1))
print(arr1.reshape(1,4))

[1 2 3 5]
<class 'numpy.ndarray'>
[[1 2 3 5]]

In [2]:
import pandas as pd

data = [1,2,3,4,5,6]
print("series\n", pd.Series(data))

series
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
data = {"a":1,"b":2, "c":3}
print("Series", pd.Series(data))

Series a    1
b    2
c    3
dtype: int64

In [4]:
data = [1,2,3,4]
index = ["a","b", "c", "d"]
print("Series\n", pd.Series(data,index=index))

Series
 a    1
b    2
c    3
d    4
dtype: int64

In [7]:
import numpy as np
data = {
    "Name":["Vikas", "Roshan","Raj"],
    "Age": [25,25,23],
    "City": ["Noida", "Lucknow","Delhi"]
}

print("Data Frames\n", pd.DataFrame(data))

print("Array\n\n", np.array(pd.DataFrame(data)))

Data Frames
      Name  Age     City
0   Vikas   25    Noida
1  Roshan   25  Lucknow
2     Raj   23    Delhi
Array

 [['Vikas' 25 'Noida']
 ['Roshan' 25 'Lucknow']
 ['Raj' 23 'Delhi']]

In [21]:
data = pd.read_csv('dummy.csv')
# data['first_name'].head(5)

data.isnull().head(10)
data.dtypes

id             int64
first_name    object
last_name     object
email         object
gender        object
ip_address    object
dtype: object