In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [6]:
## create a table
cursor.execute('''
Create Table If Not Exists employees(
id Integer Primary Key,
name Text Not Null,
age Integer,
department Text
)
''')
## commit the changes
connection.commit()

In [8]:
## create a table
cursor.execute('''
Select * from employees
''')
## commit the changes
connection.commit()

In [9]:
## Insert the data in sqlite table
cursor.execute('''
Insert into employees(name,age,department)
                values('Vikas Mishra', 25, 'Data Scientist')
''')

cursor.execute('''
Insert into employees(name,age,department)
                values('Raj Mishra', 22, 'Data Scientist')
''')

cursor.execute('''
Insert into employees(name,age,department)
                values('Roshan Sharma', 28, 'Data Scientist')
''')

##commit the changes
connection.commit()

In [10]:
cursor.execute('''
Select * from employees''')

In [11]:
## Query the data from the table
cursor.execute('''
Select * from employees''')
rows= cursor.fetchall()

## print the query results
for row in rows:
    print(row)

(1, 'Vikas Mishra', 25, 'Data Scientist')
(2, 'Raj Mishra', 22, 'Data Scientist')
(3, 'Roshan Sharma', 28, 'Data Scientist')

In [14]:
## update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Roshan Sharma"
''')

connection.commit()

In [17]:
## Query the data from the table
cursor.execute('''
Select * from employees''')
rows= cursor.fetchall()

## print the query results
for row in rows:
    print(row)

(1, 'Vikas Mishra', 25, 'Data Scientist')
(2, 'Raj Mishra', 22, 'Data Scientist')

In [16]:
## Delete the data from the table

cursor.execute('''
Delete from employees
            where name="Roshan Sharma"
''')

connection.commit()

In [19]:
## Working with Sales Data
## Connect to an SQLite Database

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## Create a table for sales

cursor.execute('''
                  CREATE TABLE IF NOT EXISTS sales
                  (id INTEGER PRIMARY KEY,
                  date TEXT NOT NULL,
                  product TEXT NOT NULL,
                  sales INTEGER,
                  region TEXT)
                  ''')
## Insert data into the sales table
sales_data = [
    ('2022-01-01', 'Product A', 100, 'Region 1'),
    ('2022-01-02', 'Product B', 50, 'Region 2'),
    ('2022-01-03', 'Product A', 75, 'Region 1'),
    ('2022-01-04', 'Product C', 200, 'Region 3'),
    ('2022-01-05', 'Product B', 150, 'Region 2')
]

cursor.executemany('''
Insert into sales(date, product, sales, region)
values(?, ?, ?, ?)
''', sales_data)
connection.commit()

In [22]:
cursor.execute('''
Select * from sales''')
rows= cursor.fetchall()

## print the query results
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

In [21]:
## close the connection
connection.close()